* {
    color: white;
}
.orange-header {
    color: orange;
}

.betting-board {
    background-color: #111111; /* Dark grey or black */
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width as needed */
    grid-gap: 20px;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

h2 {
  color: #FF5722; /* Orange heading */
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #333333; /* Light grey border */
  padding: 5px;
  text-align: center;
}