<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<meta http-equiv="refresh" content="3600" />-->
    <link rel="shortcut icon" href="static/rev-logo.ico" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Current Odds</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='local.css') }}"
    />
  </head>
  <body class="bg-dark">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <h1 class="container text-primary display-6" >
            <strong>Date:</strong> {{date}} <br /><strong>Last Update:</strong> {{last_refresh_time}} <br /> <strong>Sport:</strong> <img src="/static/{{ logo }}" alt="{{ title }} Logo" style="max-width: 49px;"> {{title}}
          <div class="container dropdown">
            <button
              class="btn btn-outline-success dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Choose a Sport
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/mlb"><img src="/static/mlb.jpg" alt="MLB Baseball Logo" style="max-width: 20px;"> MLB</a>
                <a class="dropdown-item" href="/nba"><img src="/static/nba.png" alt="NBA Basketball Logo" style="max-width: 20px;"> NBA</a>
                <a class="dropdown-item" href="/ncaaf"><img src="/static/ncaa.png" alt="NCAA Football Logo" style="max-width: 20px;"> NCAA</a>
                <a class="dropdown-item" href="/nfl"><img src="/static/nfl.png" alt="NFL Football Logo" style="max-width: 20px;"> NFL</a>
                <a class="dropdown-item" href="/nhl"><img src="/static/nhl.png" alt="NHL Hockey Logo" style="max-width: 20px;"> NHL</a>
              </li>
            </ul>
          </h1>
        </div>
        <div class="col-md-3">
          <div class="col-md-4 d-flex justify-content-end align-items-start">
            <img class="img-fluid" src='static/rev-logo.webp'>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid row g-1">
    {% for game in odds %}
      {% if game.moneyline is not none %}
      <div class="card col-md-3 mb-3">
        <div class="card-header bg-success-subtle"><strong>{{ game.home }}</strong></div>
        <div class="card-body">
          <table class="table table-dark table-xs fs-5">
            <tbody>
              <tr>
                <th>Moneyline</th>
              {% if game.moneyline[0] < 0 %}
                <td class="text-danger">{{ game.moneyline[0] }}</td>
                <td class="text-success"><strong>{{ game.moneyline[1] }}</strong></td>
              {% else %}
                <td class="text-success"><strong>{{ game.moneyline[0] }}</strong></td>
                <td class="text-danger">{{ game.moneyline[1] }}</td>
              {% endif %}
              </tr>
              <tr>
                <th>Spread Price</th>
                <td>{{ game.spreads_point[0] }}</td>
                <td>{{ game.spreads_point[1] }}</td>
              </tr>
              <tr>
                <th>Spread Points</th>
                <td>{{ game.spreads_price[0] }}</td>
                <td>{{ game.spreads_price[1] }}</td>
              </tr>
              <tr>
                <th>Total</th>
                <td>{{ game.totals[0] }}</td>
                <td>{{ game.totals[1] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-danger-subtle"><strong>{{ game.away }}</strong></div>
      </div>
      {% endif %}
    {% endfor %}
    </div>
  </body>
</html>